src/defs/rim214101/schemas/COCT_MT080000HT04.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--$Header: COCT_MT080000HT04.xsd 120.0.12000000.1 2007/11/12 19:37:52 nitaggar noship $-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v3"
           xmlns:ex="urn:hl7-org/v3-example"
           targetNamespace="urn:hl7-org:v3"
           elementFormDefault="qualified"><!--
*****************************************************************************************************************
* XML schema for message type COCT_MT080000HT04.
* Source information:
*     Rendered by: Visio to MIF transform
*     Rendered on: 
* 
*
* Generated by XMLITS version 3.0.4
*   MIF to XSD Transform $Id: COCT_MT080000HT04.xsd 120.0.12000000.1 2007/11/12 19:37:52 nitaggar noship $
*     Package Id Conversion: $Id: COCT_MT080000HT04.xsd 120.0.12000000.1 2007/11/12 19:37:52 nitaggar noship $
*
* Copyright (c) 2002, 2003, 2004, 2005 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  --><xs:annotation>
      <xs:documentation>Generated using schema builder version 3.0.4. Stylesheets:

StaticMifToXsd.xsl version 2.0</xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="defs/rim214101/coreschemas/infrastructureRoot.xsd"/>
   <xs:include schemaLocation="defs/rim214101/schemas/COCT_MT150000HT04.xsd"/>
   <xs:include schemaLocation="defs/rim214101/schemas/COCT_MT030000HT01.xsd"/>
   <xs:include schemaLocation="defs/rim214101/schemas/COCT_MT090100HT02.xsd"/>
   <xs:include schemaLocation="defs/rim214101/schemas/COCT_MT410000HT02.xsd"/>
   <xs:include schemaLocation="defs/rim214101/schemas/COCT_MT090300HT04.xsd"/>
   <xs:include schemaLocation="defs/rim214101/schemas/COCT_MT070000HT02.xsd"/>
   <xs:include schemaLocation="defs/rim214101/schemas/COCT_MT120400HT04.xsd"/>
   <xs:complexType name="COCT_MT080000HT04.Additive">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="additive1" type="COCT_MT080000HT04.Material" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="additive2" type="COCT_MT080000HT04.ManufacturedMaterial" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="cs" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT080000HT04.Author1">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="assignedPerson" type="COCT_MT090100HT02.AssignedPerson" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="employmentStaff" type="COCT_MT410000HT02.EmploymentStaff" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="assignedEntityDevice" type="COCT_MT090300HT04.AssignedEntityDevice"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="cs" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT080000HT04.Author2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="noteText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="assignedPerson" type="COCT_MT090100HT02.AssignedPerson" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="employmentStaff" type="COCT_MT410000HT02.EmploymentStaff" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="assignedEntityDevice" type="COCT_MT090300HT04.AssignedEntityDevice"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="cs" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT080000HT04.Container">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="desc" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="riskCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="handlingCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="capacityQuantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="heightQuantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="diameterQuantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="capTypeCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="separatorTypeCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="barrierDeltaQuantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="bottomDeltaQuantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="asIdentifiedContainer" type="COCT_MT080000HT04.IdentifiedContainer"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="cs" use="required"/>
      <xs:attribute name="determinerCode" type="cs" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT080000HT04.ContainerRegistrationEvent">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="subject" type="COCT_MT080000HT04.Subject1" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="author" type="COCT_MT080000HT04.Author1" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="cs" use="required"/>
      <xs:attribute name="moodCode" type="cs" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT080000HT04.Content">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="quantity" type="RTO_QTY_QTY" minOccurs="0" maxOccurs="1"/>
         <xs:element name="scoper" type="COCT_MT080000HT04.Container" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="cs" use="optional" default="CONT"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT080000HT04.IdentifiedContainer">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="cs" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT080000HT04.Location">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="locatedEntity" type="COCT_MT070000HT02.LocatedEntity" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="cs" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT080000HT04.ManufacturedMaterial">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="quantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="desc" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="riskCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="handlingCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="lotNumberText" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="expirationTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="asManufacturedProduct" type="COCT_MT080000HT04.ManufacturedProduct"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="asContent" type="COCT_MT080000HT04.Content" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="additive" type="COCT_MT080000HT04.Additive" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="cs" use="required"/>
      <xs:attribute name="determinerCode" type="cs" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT080000HT04.ManufacturedProduct">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="manufacturerOrganization" type="COCT_MT150000HT04.Organization"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="cs" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT080000HT04.Material">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CE" minOccurs="1" maxOccurs="1"/>
         <xs:element name="quantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="desc" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="riskCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="handlingCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="asManufacturedProduct" type="COCT_MT080000HT04.ManufacturedProduct"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="asContent" type="COCT_MT080000HT04.Content" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="additive" type="COCT_MT080000HT04.Additive" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="cs" use="required"/>
      <xs:attribute name="determinerCode" type="cs" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT080000HT04.ObservationEvent">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="independentInd" type="BL" minOccurs="1" maxOccurs="1"/>
         <xs:element name="value" type="CE" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="cs" use="required"/>
      <xs:attribute name="moodCode" type="cs" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT080000HT04.Performer">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="noteText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="time" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="assignedPerson" type="COCT_MT090100HT02.AssignedPerson" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="employmentStaff" type="COCT_MT410000HT02.EmploymentStaff" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="assignedEntityDevice" type="COCT_MT090300HT04.AssignedEntityDevice"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="cs" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT080000HT04.PertinentInformation1">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="observationEvent" type="COCT_MT080000HT04.ObservationEvent"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="cs" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT080000HT04.PertinentInformation2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="observationEventAnnotation"
                     type="COCT_MT120400HT04.ObservationEventAnnotation"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="cs" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT080000HT04.ProcedureEventSpecimenCollection">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="methodCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="approachSiteCode" type="CD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="targetSiteCode" type="CD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="performer" type="COCT_MT080000HT04.Performer" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="author" type="COCT_MT080000HT04.Author2" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="location" type="COCT_MT080000HT04.Location" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="pertinentInformation1" type="COCT_MT080000HT04.PertinentInformation1"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="pertinentInformation2" type="COCT_MT080000HT04.PertinentInformation2"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="cs" use="required"/>
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT080000HT04.Product">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="procedureEventSpecimenCollection"
                     type="COCT_MT080000HT04.ProcedureEventSpecimenCollection"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="cs" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT080000HT04.Specimen">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CE" minOccurs="1" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="specimenMaterial" type="COCT_MT080000HT04.Material" nillable="true"
                        minOccurs="0"
                        maxOccurs="1"/>
            <xs:element name="specimenManufacturedMaterial"
                        type="COCT_MT080000HT04.ManufacturedMaterial"
                        nillable="true"
                        minOccurs="0"
                        maxOccurs="1"/>
         </xs:choice>
         <xs:choice>
            <xs:element name="sourcePerson" type="COCT_MT030000HT01.Person" nillable="true"
                        minOccurs="0"
                        maxOccurs="1"/>
            <xs:element name="sourceNonPersonLivingSubject"
                        type="COCT_MT030000HT01.NonPersonLivingSubject"
                        nillable="true"
                        minOccurs="0"
                        maxOccurs="1"/>
         </xs:choice>
         <xs:element name="subjectOf" type="COCT_MT080000HT04.Subject2" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="productOf" type="COCT_MT080000HT04.Product" nillable="true" minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="cs" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT080000HT04.Subject1">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="time" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="identifiedContainer" type="COCT_MT080000HT04.IdentifiedContainer"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="cs" use="required"/>
      <xs:attribute name="contextControlCode" type="cs" use="optional" default="ON"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT080000HT04.Subject2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="containerRegistrationEvent"
                     type="COCT_MT080000HT04.ContainerRegistrationEvent"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="cs" use="required"/>
   </xs:complexType>
</xs:schema>
