src/defs/rim214101/schemas/COCT_MT120600HT02.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--$Header: COCT_MT120600HT02.xsd 120.0.12000000.1 2007/11/12 19:38:34 nitaggar noship $-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v3"
           xmlns:ex="urn:hl7-org/v3-example"
           targetNamespace="urn:hl7-org:v3"
           elementFormDefault="qualified"><!--
*****************************************************************************************************************
* XML schema for message type COCT_MT120600HT02.
* Source information:
*     Rendered by: Visio to MIF transform
*     Rendered on: 
* 
*
* Generated by XMLITS version 3.0.4
*   MIF to XSD Transform $Id: COCT_MT120600HT02.xsd 120.0.12000000.1 2007/11/12 19:38:34 nitaggar noship $
*     Package Id Conversion: $Id: COCT_MT120600HT02.xsd 120.0.12000000.1 2007/11/12 19:38:34 nitaggar noship $
*
* Copyright (c) 2002, 2003, 2004, 2005 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  --><xs:annotation>
      <xs:documentation>Generated using schema builder version 3.0.4. Stylesheets:

StaticMifToXsd.xsl version 2.0</xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="defs/rim214101/coreschemas/infrastructureRoot.xsd"/>
   <xs:include schemaLocation="defs/rim214101/schemas/COCT_MT050000HT04.xsd"/>
   <xs:include schemaLocation="defs/rim214101/schemas/COCT_MT100004HT02.xsd"/>
   <xs:include schemaLocation="defs/rim214101/schemas/COCT_MT410000HT02.xsd"/>
   <xs:include schemaLocation="defs/rim214101/schemas/COCT_MT090400HT02.xsd"/>
   <xs:include schemaLocation="defs/rim214101/schemas/COCT_MT240000HT02.xsd"/>
   <xs:include schemaLocation="defs/rim214101/schemas/COCT_MT120500HT04.xsd"/>
   <xs:include schemaLocation="defs/rim214101/schemas/COCT_MT120214HT02.xsd"/>
   <xs:include schemaLocation="defs/rim214101/schemas/COCT_MT010100HT02.xsd"/>
   <xs:include schemaLocation="defs/rim214101/schemas/COCT_MT970000HT04.xsd"/>
   <xs:include schemaLocation="defs/rim214101/schemas/COCT_MT950000HT04.xsd"/>
   <xs:include schemaLocation="defs/rim214101/schemas/COCT_MT951000HT02.xsd"/>
   <xs:include schemaLocation="defs/rim214101/schemas/COCT_MT920000HT02.xsd"/>
   <xs:include schemaLocation="defs/rim214101/schemas/COCT_MT920100HT02.xsd"/>
   <xs:include schemaLocation="defs/rim214101/schemas/COCT_MT971000HT03.xsd"/>
   <xs:include schemaLocation="defs/rim214101/schemas/COCT_MT121500HT03.xsd"/>
   <xs:complexType name="COCT_MT120600HT02.Author">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="noteText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="time" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="modeCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="signatureCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="signatureText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="employmentStaff" type="COCT_MT410000HT02.EmploymentStaff" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="assignedEntity" type="COCT_MT090400HT02.AssignedEntity" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="cs" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT120600HT02.CauseOf">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="observationEventGeneral" type="COCT_MT120500HT04.ObservationEventGeneral"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="cs" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT120600HT02.Location">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="serviceDeliveryLocation" type="COCT_MT240000HT02.ServiceDeliveryLocation"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="cs" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT120600HT02.ObservationEventReaction">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="priorityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="value" type="ANY" minOccurs="0" maxOccurs="1"/>
         <xs:element name="methodCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="targetSiteCode" type="CD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="subject" type="COCT_MT120600HT02.Subject" minOccurs="1" maxOccurs="1"/>
         <xs:element name="author" type="COCT_MT120600HT02.Author" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="location" type="COCT_MT120600HT02.Location" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="support" type="COCT_MT120600HT02.Support" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="causeOf" type="COCT_MT120600HT02.CauseOf" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="pertinentInformation1" type="COCT_MT120600HT02.PertinentInformation1"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="pertinentInformation2" type="COCT_MT120600HT02.PertinentInformation2"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="pertinentInformation3" type="COCT_MT120600HT02.PertinentInformation3"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="cs" use="required"/>
      <xs:attribute name="moodCode" type="cs" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT120600HT02.PertinentInformation1">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="observationEvent" type="COCT_MT120214HT02.ObservationEvent"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="cs" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT120600HT02.PertinentInformation2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="observationEventGeneral" type="COCT_MT120500HT04.ObservationEventGeneral"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="cs" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT120600HT02.PertinentInformation3">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="encounterEvent" type="COCT_MT010100HT02.EncounterEvent" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="observationOrder" type="COCT_MT970000HT04.ObservationOrder"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="observationEventGeneral" type="COCT_MT120500HT04.ObservationEventGeneral"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="procedureOrder" type="COCT_MT950000HT04.ProcedureOrder" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="procedureEvent" type="COCT_MT951000HT02.ProcedureEvent" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="substanceAdministrationOrder"
                        type="COCT_MT920000HT02.SubstanceAdministrationOrder"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="substanceAdministrationEvent"
                        type="COCT_MT920100HT02.SubstanceAdministrationEvent"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="specimenObservationOrder"
                        type="COCT_MT971000HT03.SpecimenObservationOrder"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="specimenObservationEvent"
                        type="COCT_MT121500HT03.SpecimenObservationEvent"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="cs" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT120600HT02.Subject">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="awarenessCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="patient" type="COCT_MT050000HT04.Patient" minOccurs="1" maxOccurs="1"/>
            <xs:element name="researchSubject" type="COCT_MT100004HT02.ResearchSubject" minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="cs" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT120600HT02.Support">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="pauseQuantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="substanceAdministrationEvent"
                        type="COCT_MT920100HT02.SubstanceAdministrationEvent"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="procedureEvent" type="COCT_MT951000HT02.ProcedureEvent" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="cs" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional"/>
   </xs:complexType>
</xs:schema>
