src/defs/rim214101/schemas/FIAB_MT020000HT02.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- $Header: FIAB_MT020000HT02.xsd 120.0.12000000.1 2007/11/12 19:40:39 nitaggar noship $-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v3"
           xmlns:ex="urn:hl7-org/v3-example"
           targetNamespace="urn:hl7-org:v3"
           elementFormDefault="qualified"><!--
*****************************************************************************************************************
* XML schema for message type FIAB_MT020000HT02.
* Source information:
*     Rendered by: Visio to MIF transform
*     Rendered on: 
* 
*
* Generated by XMLITS version 3.0.4
*   MIF to XSD Transform $Id: FIAB_MT020000HT02.xsd 120.0.12000000.1 2007/11/12 19:40:39 nitaggar noship $
*     Package Id Conversion: $Id: FIAB_MT020000HT02.xsd 120.0.12000000.1 2007/11/12 19:40:39 nitaggar noship $
*
* Copyright (c) 2002, 2003, 2004, 2005 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  --><xs:annotation>
      <xs:documentation>Generated using schema builder version 3.0.4. Stylesheets:

StaticMifToXsd.xsl version 2.0</xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="defs/rim214101/coreschemas/infrastructureRoot.xsd"/>
   <xs:include schemaLocation="defs/rim214101/schemas/COCT_MT030200HT04.xsd"/>
   <xs:include schemaLocation="defs/rim214101/schemas/COCT_MT150000HT04.xsd"/>
   <xs:include schemaLocation="defs/rim214101/schemas/COCT_MT970000HT04.xsd"/>
   <xs:include schemaLocation="defs/rim214101/schemas/COCT_MT120500HT04.xsd"/>
   <xs:include schemaLocation="defs/rim214101/schemas/COCT_MT950000HT04.xsd"/>
   <xs:include schemaLocation="defs/rim214101/schemas/COCT_MT951000HT02.xsd"/>
   <xs:include schemaLocation="defs/rim214101/schemas/COCT_MT920000HT02.xsd"/>
   <xs:include schemaLocation="defs/rim214101/schemas/COCT_MT920100HT02.xsd"/>
   <xs:include schemaLocation="defs/rim214101/schemas/COCT_MT971000HT03.xsd"/>
   <xs:include schemaLocation="defs/rim214101/schemas/COCT_MT121500HT03.xsd"/>
   <xs:include schemaLocation="defs/rim214101/schemas/COCT_MT122500HT03.xsd"/>
   <xs:include schemaLocation="defs/rim214101/schemas/COCT_MT940000HT02.xsd"/>
   <xs:include schemaLocation="defs/rim214101/schemas/COCT_MT941010HT02.xsd"/>
   <xs:include schemaLocation="defs/rim214101/schemas/COCT_MT310000HT02.xsd"/>
   <xs:include schemaLocation="defs/rim214101/schemas/COCT_MT150002HT02.xsd"/>
   <xs:include schemaLocation="defs/rim214101/schemas/COCT_MT010100HT02.xsd"/>
   <xs:complexType name="FIAB_MT020000HT02.Author1">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="time" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="identifiedEntity" type="FIAB_MT020000HT02.IdentifiedEntity"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="cs" use="required"/>
   </xs:complexType>
   <xs:complexType name="FIAB_MT020000HT02.Author2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="carrierRole" type="FIAB_MT020000HT02.CarrierRole" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="cs" use="required"/>
   </xs:complexType>
   <xs:complexType name="FIAB_MT020000HT02.CarrierRole">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="underwritingOrganization" type="COCT_MT150002HT02.Organization"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="cs" use="required"/>
   </xs:complexType>
   <xs:complexType name="FIAB_MT020000HT02.Component">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="financialTransactionChargeDetail"
                     type="FIAB_MT020000HT02.FinancialTransactionChargeDetail"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="cs" use="required"/>
   </xs:complexType>
   <xs:complexType name="FIAB_MT020000HT02.Coverage">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="insurancePolicy" type="FIAB_MT020000HT02.InsurancePolicy" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="cs" use="required"/>
   </xs:complexType>
   <xs:complexType name="FIAB_MT020000HT02.FinancialTransaction">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="derivationExpr" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="activityTime" type="TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="amt" type="MO" minOccurs="1" maxOccurs="1"/>
         <xs:element name="creditExchangeRateQuantity" type="REAL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="debitExchangeRateQuantity" type="REAL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="author" type="FIAB_MT020000HT02.Author1" nillable="true" minOccurs="1"
                     maxOccurs="unbounded"/>
         <xs:element name="pertinentInformation" type="FIAB_MT020000HT02.PertinentInformation1"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="component" type="FIAB_MT020000HT02.Component" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="postingTo" type="FIAB_MT020000HT02.Posting" nillable="true" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="cs" use="required"/>
      <xs:attribute name="moodCode" type="cs" use="required"/>
   </xs:complexType>
   <xs:complexType name="FIAB_MT020000HT02.FinancialTransactionChargeDetail">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="derivationExpr" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="title" type="ST" minOccurs="1" maxOccurs="1"/>
         <xs:element name="text" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="activityTime" type="TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="unitQuantity" type="RTO_PQ_PQ" minOccurs="1" maxOccurs="1"/>
         <xs:element name="unitPriceAmt" type="RTO_MO_PQ" minOccurs="1" maxOccurs="1"/>
         <xs:element name="netAmt" type="MO" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="cs" use="required"/>
      <xs:attribute name="moodCode" type="cs" use="required"/>
   </xs:complexType>
   <xs:complexType name="FIAB_MT020000HT02.Guarantor">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="guarantorPerson" type="COCT_MT030200HT04.Person" nillable="true"
                        minOccurs="0"
                        maxOccurs="1"/>
            <xs:element name="guarantorOrganization" type="COCT_MT150000HT04.Organization"
                        nillable="true"
                        minOccurs="0"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="cs" use="required"/>
   </xs:complexType>
   <xs:complexType name="FIAB_MT020000HT02.IdentifiedEntity">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="identifiedPerson" type="COCT_MT030200HT04.Person" nillable="true"
                        minOccurs="0"
                        maxOccurs="1"/>
            <xs:element name="identifiedOrganization" type="COCT_MT150000HT04.Organization"
                        nillable="true"
                        minOccurs="0"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="cs" use="required"/>
   </xs:complexType>
   <xs:complexType name="FIAB_MT020000HT02.IndirectTarget">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="noteText" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="time" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="guarantor" type="FIAB_MT020000HT02.Guarantor" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="cs" use="required"/>
   </xs:complexType>
   <xs:complexType name="FIAB_MT020000HT02.InsurancePolicy">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="author" type="FIAB_MT020000HT02.Author2" nillable="true" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="cs" use="required"/>
      <xs:attribute name="moodCode" type="cs" use="required"/>
   </xs:complexType>
   <xs:complexType name="FIAB_MT020000HT02.PatientAccount">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="code" type="CV" minOccurs="1" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="activityTime" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="balanceAmt" type="MO" minOccurs="1" maxOccurs="1"/>
         <xs:element name="currencyCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="indirectTarget" type="FIAB_MT020000HT02.IndirectTarget" minOccurs="1"
                     maxOccurs="unbounded"/>
         <xs:element name="coverage" type="FIAB_MT020000HT02.Coverage" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="pertinentInformation" type="FIAB_MT020000HT02.PertinentInformation2"
                     minOccurs="1"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="cs" use="required"/>
      <xs:attribute name="moodCode" type="cs" use="required"/>
   </xs:complexType>
   <xs:complexType name="FIAB_MT020000HT02.PertinentInformation1">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="observationOrder" type="COCT_MT970000HT04.ObservationOrder"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="observationEventGeneral" type="COCT_MT120500HT04.ObservationEventGeneral"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="procedureOrder" type="COCT_MT950000HT04.ProcedureOrder" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="procedureEvent" type="COCT_MT951000HT02.ProcedureEvent" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="substanceAdministrationOrder"
                        type="COCT_MT920000HT02.SubstanceAdministrationOrder"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="substanceAdministrationEvent"
                        type="COCT_MT920100HT02.SubstanceAdministrationEvent"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="specimenObservationOrder"
                        type="COCT_MT971000HT03.SpecimenObservationOrder"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="specimenObservationEvent"
                        type="COCT_MT121500HT03.SpecimenObservationEvent"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="diagnosticReportObservationEvent"
                        type="COCT_MT122500HT03.DiagnosticReportObservationEvent"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="supplyRequest" type="COCT_MT940000HT02.SupplyRequest" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="dietRequest" type="COCT_MT941010HT02.DietRequest" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="accommodationSupplied" type="COCT_MT310000HT02.AccommodationSupplied"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="cs" use="required"/>
   </xs:complexType>
   <xs:complexType name="FIAB_MT020000HT02.PertinentInformation2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="encounterEvent" type="COCT_MT010100HT02.EncounterEvent" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="cs" use="required"/>
   </xs:complexType>
   <xs:complexType name="FIAB_MT020000HT02.Posting">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="patientAccount" type="FIAB_MT020000HT02.PatientAccount" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipPosting" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
   </xs:complexType>
</xs:schema>
