src/defs/rim214101/schemas/POLB_MT004000HT01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- $Header: POLB_MT004000HT01.xsd 120.0.12000000.1 2007/11/12 19:42:50 nitaggar noship $-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v3"
           xmlns:ex="urn:hl7-org/v3-example"
           targetNamespace="urn:hl7-org:v3"
           elementFormDefault="qualified"><!--
*****************************************************************************************************************
* XML schema for message type POLB_MT004000HT01.
* Source information:
*     Rendered by: Visio to MIF transform
*     Rendered on: 
* 
*
* Generated by XMLITS version 3.0.4
*   MIF to XSD Transform $Id: POLB_MT004000HT01.xsd 120.0.12000000.1 2007/11/12 19:42:50 nitaggar noship $
*     Package Id Conversion: $Id: POLB_MT004000HT01.xsd 120.0.12000000.1 2007/11/12 19:42:50 nitaggar noship $
*
* Copyright (c) 2002, 2003, 2004, 2005 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  --><xs:annotation>
      <xs:documentation>Generated using schema builder version 3.0.4. Stylesheets:

StaticMifToXsd.xsl version 2.0</xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="defs/rim214101/coreschemas/infrastructureRoot.xsd"/>
   <xs:include schemaLocation="defs/rim214101/schemas/COCT_MT120500HT04.xsd"/>
   <xs:include schemaLocation="defs/rim214101/schemas/COCT_MT920100HT02.xsd"/>
   <xs:include schemaLocation="defs/rim214101/schemas/COCT_MT080000HT04.xsd"/>
   <xs:include schemaLocation="defs/rim214101/schemas/COCT_MT090300HT04.xsd"/>
   <xs:include schemaLocation="defs/rim214101/schemas/COCT_MT050000HT04.xsd"/>
   <xs:include schemaLocation="defs/rim214101/schemas/COCT_MT090100HT02.xsd"/>
   <xs:include schemaLocation="defs/rim214101/schemas/COCT_MT410000HT02.xsd"/>
   <xs:include schemaLocation="defs/rim214101/schemas/COCT_MT090000HT02.xsd"/>
   <xs:include schemaLocation="defs/rim214101/schemas/COCT_MT001001HT01.xsd"/>
   <xs:include schemaLocation="defs/rim214101/schemas/COCT_MT930000HT02.xsd"/>
   <xs:include schemaLocation="defs/rim214101/schemas/COCT_MT120100HT04.xsd"/>
   <xs:include schemaLocation="defs/rim214101/schemas/COCT_MT120200HT04.xsd"/>
   <xs:include schemaLocation="defs/rim214101/schemas/COCT_MT010100HT02.xsd"/>
   <xs:complexType name="POLB_MT004000HT01.Author">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="noteText" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="time" type="TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="modeCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="signatureCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="signatureText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="assignedPerson" type="COCT_MT090100HT02.AssignedPerson" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="employmentStaff" type="COCT_MT410000HT02.EmploymentStaff" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="cs" use="required"/>
      <xs:attribute name="contextControlCode" type="cs" use="optional" default="OP"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT004000HT01.Component1">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="processStep" type="POLB_MT004000HT01.ProcessStep" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="cs" use="required"/>
      <xs:attribute name="contextControlCode" type="cs" use="optional" default="AN"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT004000HT01.Component2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="encounterEvent" type="COCT_MT010100HT02.EncounterEvent" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="cs" use="required"/>
      <xs:attribute name="contextControlCode" type="cs" use="optional" default="OP"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="false"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT004000HT01.Component3">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="1" maxOccurs="1"/>
         <xs:element name="priorityNumber" type="REAL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="seperatableInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="observationReport" type="POLB_MT004000HT01.ObservationReport"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="observationBattery" type="POLB_MT004000HT01.ObservationBattery"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="specimenObservationCluster"
                        type="POLB_MT004000HT01.SpecimenObservationCluster"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="observationEvent" type="POLB_MT004000HT01.ObservationEvent"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="cs" use="required"/>
      <xs:attribute name="contextControlCode" type="cs" use="optional" default="AN"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT004000HT01.Criterion">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CE" minOccurs="1" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="value" type="ANY" minOccurs="1" maxOccurs="1"/>
         <xs:element name="interpretationCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="cs" use="required"/>
      <xs:attribute name="moodCode" type="cs" use="required"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT004000HT01.DataEnterer">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="noteText" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="time" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="modeCode" type="CE" minOccurs="1" maxOccurs="1"/>
         <xs:element name="assignedEntity" type="COCT_MT090000HT02.AssignedEntity" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="cs" use="required"/>
      <xs:attribute name="contextControlCode" type="cs" use="optional" default="OP"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT004000HT01.DerivedFrom">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="localVariableName" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="observationEventGeneral" type="COCT_MT120500HT04.ObservationEventGeneral"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="substanceAdministrationEvent"
                        type="COCT_MT920100HT02.SubstanceAdministrationEvent"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="cs" use="required"/>
      <xs:attribute name="contextControlCode" type="cs" use="optional" default="AN"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="false"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT004000HT01.InFulfillmentOf">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="actRequest" type="COCT_MT001001HT01.ActRequest" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="observationRequest" type="COCT_MT001001HT01.ObservationRequest"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="cs" use="required"/>
      <xs:attribute name="contextControlCode" type="cs" use="optional" default="ON"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="false"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT004000HT01.InformationRecipient">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="time" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="assignedEntity" type="COCT_MT090000HT02.AssignedEntity" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="cs" use="required"/>
      <xs:attribute name="contextControlCode" type="cs" use="optional" default="OP"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT004000HT01.InterpretationRange">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="text" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="value" type="ANY" minOccurs="0" maxOccurs="1"/>
         <xs:element name="interpretationCode" type="CE" minOccurs="1" maxOccurs="1"/>
         <xs:element name="methodCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="precondition" type="POLB_MT004000HT01.Precondition" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="cs" use="required"/>
      <xs:attribute name="moodCode" type="cs" use="required"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT004000HT01.ObservationBattery">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="SXCM_TS" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="priorityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="reasonCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="specimen" type="POLB_MT004000HT01.Specimen" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="recordTarget" type="POLB_MT004000HT01.RecordTarget" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="performer" type="POLB_MT004000HT01.Performer" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="author" type="POLB_MT004000HT01.Author" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="dataEnterer" type="POLB_MT004000HT01.DataEnterer" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="informationRecipient" type="POLB_MT004000HT01.InformationRecipient"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="verifier" type="POLB_MT004000HT01.Verifier" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="inFulfillmentOf" type="POLB_MT004000HT01.InFulfillmentOf" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="reason" type="POLB_MT004000HT01.Reason" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="pertinentInformation" type="POLB_MT004000HT01.PertinentInformation"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="component1" type="POLB_MT004000HT01.Component1" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="component2" type="POLB_MT004000HT01.Component3" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="subjectOf" type="POLB_MT004000HT01.Subject" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="componentOf" type="POLB_MT004000HT01.Component2" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="cs" use="optional" fixed="BATTERY"/>
      <xs:attribute name="moodCode" type="cs" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT004000HT01.ObservationEvent">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="derivationExpr" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="priorityCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="reasonCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="value" type="ANY" minOccurs="0" maxOccurs="1"/>
         <xs:element name="interpretationCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="methodCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="targetSiteCode" type="CD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="specimen" type="POLB_MT004000HT01.Specimen" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="recordTarget" type="POLB_MT004000HT01.RecordTarget" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="performer" type="POLB_MT004000HT01.Performer" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="author" type="POLB_MT004000HT01.Author" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="dataEnterer" type="POLB_MT004000HT01.DataEnterer" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="informationRecipient" type="POLB_MT004000HT01.InformationRecipient"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="verifier" type="POLB_MT004000HT01.Verifier" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="inFulfillmentOf" type="POLB_MT004000HT01.InFulfillmentOf" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="reason" type="POLB_MT004000HT01.Reason" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="derivedFrom" type="POLB_MT004000HT01.DerivedFrom" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="referenceRange" type="POLB_MT004000HT01.ReferenceRange" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="pertinentInformation" type="POLB_MT004000HT01.PertinentInformation"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="component1" type="POLB_MT004000HT01.Component1" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="component2" type="POLB_MT004000HT01.Component3" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="subjectOf" type="POLB_MT004000HT01.Subject" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="componentOf" type="POLB_MT004000HT01.Component2" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="cs" use="optional" fixed="OBS"/>
      <xs:attribute name="moodCode" type="cs" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT004000HT01.ObservationReport">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="reasonCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="specimen" type="POLB_MT004000HT01.Specimen" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="recordTarget" type="POLB_MT004000HT01.RecordTarget" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="performer" type="POLB_MT004000HT01.Performer" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="author" type="POLB_MT004000HT01.Author" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="dataEnterer" type="POLB_MT004000HT01.DataEnterer" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="informationRecipient" type="POLB_MT004000HT01.InformationRecipient"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="verifier" type="POLB_MT004000HT01.Verifier" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="inFulfillmentOf" type="POLB_MT004000HT01.InFulfillmentOf" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="reason" type="POLB_MT004000HT01.Reason" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="pertinentInformation" type="POLB_MT004000HT01.PertinentInformation"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="component1" type="POLB_MT004000HT01.Component1" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="component2" type="POLB_MT004000HT01.Component3" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="subjectOf" type="POLB_MT004000HT01.Subject" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="componentOf" type="POLB_MT004000HT01.Component2" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="cs" use="optional" fixed="ENTRY"/>
      <xs:attribute name="moodCode" type="cs" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT004000HT01.Performer">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="time" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="assignedPerson" type="COCT_MT090100HT02.AssignedPerson" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="assignedEntityDevice" type="COCT_MT090300HT04.AssignedEntityDevice"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="patient" type="COCT_MT050000HT04.Patient" nillable="true" minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="cs" use="required"/>
      <xs:attribute name="contextControlCode" type="cs" use="optional" default="OP"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT004000HT01.PertinentInformation">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="observationEventGeneral" type="COCT_MT120500HT04.ObservationEventGeneral"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="substanceAdministrationEvent"
                        type="COCT_MT920100HT02.SubstanceAdministrationEvent"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="cs" use="required"/>
      <xs:attribute name="contextControlCode" type="cs" use="optional" default="AN"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT004000HT01.Precondition">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="conjunctionCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="criterion" type="POLB_MT004000HT01.Criterion" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="cs" use="required"/>
      <xs:attribute name="contextControlCode" type="cs" use="optional" default="ON"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT004000HT01.ProcessStep">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="text" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="x_LabProcessClassCodes" use="required"/>
      <xs:attribute name="moodCode" type="cs" use="required"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT004000HT01.Reason">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityNumber" type="REAL" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="conditionProblem" type="COCT_MT930000HT02.ConditionProblem"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="observationEventGeneral" type="COCT_MT120500HT04.ObservationEventGeneral"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="observationEventDx" type="COCT_MT120100HT04.ObservationEventDx"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="cs" use="required"/>
      <xs:attribute name="contextControlCode" type="cs" use="optional" default="AN"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT004000HT01.RecordTarget">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="patient" type="COCT_MT050000HT04.Patient" nillable="true" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="cs" use="required"/>
      <xs:attribute name="contextControlCode" type="cs" use="optional" default="OP"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT004000HT01.ReferenceRange">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="interpretationRange" type="POLB_MT004000HT01.InterpretationRange"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="cs" use="required"/>
      <xs:attribute name="contextControlCode" type="cs" use="optional" default="ON"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="false"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT004000HT01.Specimen">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="specimen" type="COCT_MT080000HT04.Specimen" nillable="true" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="cs" use="required"/>
      <xs:attribute name="contextControlCode" type="cs" use="optional" default="OP"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT004000HT01.SpecimenObservationCluster">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="reasonCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="specimen" type="POLB_MT004000HT01.Specimen" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="recordTarget" type="POLB_MT004000HT01.RecordTarget" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="performer" type="POLB_MT004000HT01.Performer" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="author" type="POLB_MT004000HT01.Author" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="dataEnterer" type="POLB_MT004000HT01.DataEnterer" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="informationRecipient" type="POLB_MT004000HT01.InformationRecipient"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="verifier" type="POLB_MT004000HT01.Verifier" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="inFulfillmentOf" type="POLB_MT004000HT01.InFulfillmentOf" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="reason" type="POLB_MT004000HT01.Reason" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="pertinentInformation" type="POLB_MT004000HT01.PertinentInformation"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="component1" type="POLB_MT004000HT01.Component1" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="component2" type="POLB_MT004000HT01.Component3" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="subjectOf" type="POLB_MT004000HT01.Subject" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="componentOf" type="POLB_MT004000HT01.Component2" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="cs" use="optional" fixed="CLUSTER"/>
      <xs:attribute name="moodCode" type="cs" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT004000HT01.Subject">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         <xs:element name="observationEventSupporting"
                     type="COCT_MT120200HT04.ObservationEventSupporting"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="cs" use="required"/>
      <xs:attribute name="contextControlCode" type="cs" use="optional" default="AN"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
   </xs:complexType>
   <xs:complexType name="POLB_MT004000HT01.Verifier">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="noteText" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="time" type="TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="modeCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="signatureCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="signatureText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="assignedPerson" type="COCT_MT090100HT02.AssignedPerson" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="employmentStaff" type="COCT_MT410000HT02.EmploymentStaff" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="cs" use="required"/>
      <xs:attribute name="contextControlCode" type="cs" use="optional" default="OP"/>
   </xs:complexType>
</xs:schema>
